// WINTMP.RC

#include <OS2.H>
#include "wintmp.h"

WINDOWTEMPLATE ID_WINTMP LOADONCALL MOVEABLE DISCARDABLE
{
    FRAME "Window from a template", 0x0000, 0, 0, 0, 0, WS_VISIBLE | WS_CLIPCHILDREN,
        FCF_HIDEMAX | FCF_SYSMENU | FCF_TITLEBAR | FCF_SIZEBORDER | FCF_SHELLPOSITION | FCF_TASKLIST
    {
        WINDOW "", FID_CLIENT, 0, 0, 0, 0, "WINTMP", WS_VISIBLE | WS_CLIPCHILDREN
    }
}
