// MODELESS.RC

#define INCL_WIN

#include <os2.h>
#include "modeless.h"
#include "dialog.h"

rcinclude modeless.dlg

MENU RS_ALL
{
    SUBMENU "~File" , MN_FILE
    {
		MENUITEM "~New" , MN_NEW
		MENUITEM "~Open...", MN_OPEN
		MENUITEM "~Save", MN_SAVE, MIS_TEXT, MIA_DISABLED
		MENUITEM "Save ~As..." , MN_SAVEAS, MIS_TEXT, MIA_DISABLED
		MENUITEM SEPARATOR
		MENUITEM "E~xit", MN_EXIT
    	MENUITEM "~Product Information...", MN_PRODINFO
    }

    SUBMENU "~Edit" , MN_EDIT
    {
		MENUITEM "~Undo\tAlt+Bckspace", MN_UNDO, MIS_TEXT, MIA_DISABLED
		MENUITEM SEPARATOR
		MENUITEM "~Cut\tShift+Del", MN_CUT, MIS_TEXT, MIA_DISABLED
		MENUITEM "Co~py\tShift+Ins", MN_COPY, MIS_TEXT, MIA_DISABLED
		MENUITEM "~Paste\tCtrl+Ins", MN_PASTE, MIS_TEXT, MIA_DISABLED
		MENUITEM "C~lear\tDel" , MN_CLEAR, MIS_TEXT, MIA_DISABLED
	}

	SUBMENU "~Option", MN_OPTION
	{
		MENUITEM "~Choose color...", MN_CHOOSECOLOR
	}
}


ACCELTABLE RS_ACCELTABLE
{
    VK_BACKSPACE,  	MN_UNDO , VIRTUALKEY, ALT
    VK_DELETE, 		MN_CUT, VIRTUALKEY, SHIFT
    VK_INSERT, 		MN_COPY, VIRTUALKEY, SHIFT 
    VK_INSERT, 		MN_PASTE, VIRTUALKEY, CONTROL
    VK_DELETE, 		MN_CLEAR, VIRTUALKEY
}

ICON RS_ICON MODELESS.ICO

