// OLDOPEN.RC
// Listing 08-03

#define INCL_WIN

#include <os2.h>
#include "oldopen.h"
#include "dialog.h"

rcinclude OLDOPEN.DLG

ICON RS_ICON OLDOPEN.ICO
BITMAP RS_BITMAP PRODINFO.BMP

MENU RS_MENU
{
    SUBMENU "~File" , MN_FILE
    {
		MENUITEM "~New" , MN_NEW
		MENUITEM "~Open...", MN_OPEN
		MENUITEM "~Save", MN_SAVE, MIS_TEXT, MIA_DISABLED
		MENUITEM "Save ~As..." , MN_SAVEAS, MIS_TEXT, MIA_DISABLED
		MENUITEM SEPARATOR
		MENUITEM "E~xit", MN_EXIT
    	MENUITEM "~Product Information", MN_PRODINFO
    }
    SUBMENU "~Edit" , MN_EDIT
    {
        MENUITEM "~Undo\tAlt-Bksp" , MN_UNDO, MIS_TEXT, MIA_DISABLED
		MENUITEM SEPARATOR
		MENUITEM "~Cut\tShift-Del", MN_CUT, MIS_TEXT, MIA_DISABLED
		MENUITEM "Co~py\tShift-Ins", MN_COPY, MIS_TEXT, MIA_DISABLED
		MENUITEM "~Paste\tCtrl-Ins", MN_PASTE, MIS_TEXT, MIA_DISABLED
		MENUITEM "C~lear\tDel" , MN_CLEAR, MIS_TEXT, MIA_DISABLED
    }
	MENUITEM "~Help" , MN_HELP , MIS_HELP
}

ACCELTABLE RS_ACCELTABLE
{
    VK_BACKSPACE,  	MN_UNDO , VIRTUALKEY, ALT
    VK_DELETE, 		MN_CUT, VIRTUALKEY, SHIFT
    VK_INSERT, 		MN_COPY, VIRTUALKEY, SHIFT 
    VK_INSERT, 		MN_PASTE, VIRTUALKEY, CONTROL
    VK_DELETE, 		MN_CLEAR, VIRTUALKEY
}

STRINGTABLE
{
    ST_CLASSNAME, "OLDOPEN"
    ST_WINDOWTITLE, "An old-style openbox"
}
