// SYSBMP.RC
// Listing 05-06


#include <os2.h>
#include "sysbmp.h"

ICON RS_ICON SYSBMP.ICO


STRINGTABLE
{
1,"SBMP_OLD_SYSMENU"
2,"SBMP_OLD_SBUPARROW"
3,"SBMP_OLD_SBDNARROW"
4,"SBMP_OLD_SBRGARROW"
5,"SBMP_OLD_SBLFARROW"
6,"SBMP_MENUCHECK"
7,"SBMP_CHECKBOXES"
8,"SBMP_BTNCORNERS"
9,"SBMP_OLD_MINBUTTON"
10,"SBMP_OLD_MAXBUTTON"
11,"SBMP_OLD_RESTOREBUTTON"
12,"SBMP_OLD_CHILDSYSMENU"
15,"SBMP_DRIVE"
16,"SBMP_FILE"
17,"SBMP_FOLDER"
18,"SBMP_TREEPLUS"
19,"SBMP_TREEMINUS"
22,"SBMP_PROGRAM"
23,"SBMP_MENUATTACHED"
24,"SBMP_SIZEBOX"
25,"SBMP_SYSMENU"
26,"SBMP_MINBUTTON"
27,"SBMP_MAXBUTTON"
28,"SBMP_RESTOREBUTTON"
29,"SBMP_CHILDSYSMENU"
30,"SBMP_SYSMENUDEP"
31,"SBMP_MINBUTTONDEP"
32,"SBMP_MAXBUTTONDEP"
33,"SBMP_RESTOREBUTTONDEP"
34,"SBMP_CHILDSYSMENUDEP"
35,"SBMP_SBUPARROW"
36,"SBMP_SBDNARROW"
37,"SBMP_SBLFARROW"
38,"SBMP_SBRGARROW"
39,"SBMP_SBUPARROWDEP"
40,"SBMP_SBDNARROWDEP"
41,"SBMP_SBLFARROWDEP"
42,"SBMP_SBRGARROWDEP"
43,"SBMP_SBUPARROWDIS"
44,"SBMP_SBDNARROWDIS"
45,"SBMP_SBLFARROWDIS"
46,"SBMP_SBRGARROWDIS"
47,"SBMP_COMBODOWN"
48,"SBMP_CHECKBOXES"
}
