// NOTEBOOK.RC
// Listing 07-10

#include "notebook.h"

ICON RS_ICON    NOTEBOOK.ICO

BITMAP (RS_FLAG + 1) FLAG01.BMP
BITMAP (RS_FLAG + 2) FLAG02.BMP
BITMAP (RS_FLAG + 3) FLAG03.BMP
BITMAP (RS_FLAG + 4) FLAG04.BMP
BITMAP (RS_FLAG + 5) FLAG05.BMP

BITMAP (RS_MAST + 1) MAST01.BMP
BITMAP (RS_MAST + 2) MAST02.BMP
BITMAP (RS_MAST + 3) MAST03.BMP
BITMAP (RS_MAST + 4) MAST04.BMP
BITMAP (RS_MAST + 5) MAST05.BMP

STRINGTABLE
{
    ST_WINDOWTITLE, "Settings"
}
